<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE - Empro</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <header class="index__header">
        <a href="/" class="navbrand">
          <img src="/images/logo.png" alt="Logo" />
        </a>
      </header>
      <main class="index__main">
        <div class="index__panel left-panel">
          <div class="panel__nav__wrapper">
            <h2>Fabric Inspection Department</h2>
            <div class="panel__nav">
              <a href="/production-kanban-card">Production Kanban Card</a>
              <a href="/fabric-inspection-board">Kanban Board</a>
              <a href="/available-products">Available Products</a>
            </div>
          </div>
          <div class="panel__nav__wrapper">
            <h2>Cutting Department</h2>
            <div class="panel__nav">
              <a href="/edit-kanban-card">Edit Kanban Card</a>
              <a href="cutting-board">Kanban Board</a>
              <a href="/available-products">Available Products</a>
            </div>
          </div>
          <div class="panel__nav__wrapper">
            <h2>Sewing Department</h2>
            <div class="panel__nav">
              <a href="/edit-kanban-card">Edit Kanban Card</a>
              <a href="/sewing-board">Kanban Board</a>
            </div>
          </div>
          <div class="panel__nav__wrapper">
            <h2>Finishing Department</h2>
            <div class="panel__nav">
              <a href="/finishing-board">Kanban Board</a>
              <a href="/available-products">Available Products</a>
            </div>
          </div>
        </div>
        <div class="index__panel right-panel">
          <div class="panel__analyze__wrapper">
            <a href="/analyze">Analyze Performance</a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
