<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PE Empro || Production Kanban Card</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <header class="prod__header">
        <div class="navbrand">
          <a href="/">
            <img src="/images/logo.png" alt="Logo" />
          </a>
        </div>
        <div class="navbar">
          <a href="/" class="nav-link">Home</a>
        </div>
      </header>
      <main class="prod__main">
        <form class="prod__form" action="/production-kanban-card" method="POST">
          <h2>Production Kanban Card</h2>
          <div class="formgroup">
            <label for="customer">Customer : </label>
            <input type="text" required name="customer" id="customer" />
          </div>
          <div class="formgroup">
            <label for="supplier">Supplier : </label>
            <input type="text" required name="supplier" id="supplier" />
          </div>
          <div class="formgroup">
            <label for="linenumber">Line Number : </label>
            <input type="number" required name="linenumber" id="linenumber" />
          </div>
          <div class="formgroup">
            <label for="stylenumber">Style Number : </label>
            <input type="number" required name="stylenumber" id="stylenumber" />
          </div>
          <div class="formgroup">
            <label for="colour">Colour : </label>
            <input type="text" required name="colour" id="colour" />
          </div>
          <div class="formgroup">
            <label for="size">Size : </label>
            <input type="text" required name="size" id="size" />
          </div>
          <div class="formgroup">
            <label for="date">Date : </label>
            <input type="date" required name="date" id="date" />
          </div>
          <div class="formgroup">
            <label for="requireddate">Required Date for export : </label>
            <input type="date" required name="requireddate" id="requireddate" />
          </div>
          <div class="formgroup">
            <label for="quantity">Quantity : </label>
            <input type="text" required name="quantity" id="quantity" />
          </div>
          <div id="extra-fields-div" class="formgroup"></div>
          <button id="customFields">Add More Fields +</button>
          <input type="submit" value="Submit" />
        </form>
      </main>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
